.tokens {
  flex: 1;
  border-top-left-radius:24px;
  overflow: auto;
  padding: 32px;
}
.token-content {
  align-items: center;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: #fff;
}
.header {
  margin-bottom: 50px;
  justify-content: space-between;
  display: flex;
}
.categories {
  align-items: center;
  height: 50px;
  width: 311px;
  justify-content: space-around;
  border-radius: 20px;
  display: flex;
  background-color: #ffffff;
}
.btnCat {
  color: #93949d;
  width: 53px;
  height: 42px;
  background-color: inherit;
  border: none;
  border-radius: 20px;
}
.btnActive {
  color: #ffffff;
  width: 53px;
  height: 42px;
  background-color: #b380fd;
  border: none;
  border-radius: 20px;
}
.token {
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  width: 100%;
  height: fit-content;
  background-color: #fff;
}
.tokenLogo {
  width: 40px;
  height: 40px;
}
.price {
  width: 190px;
  color: #6347f5;
  margin-left: 25px;
}
.symbol {
  color: #6347f5;
}
.name {
  width: 200px;
  margin-left: 25px;
}
.volume {
  width: 190px;
  margin-left: 30px;
}
.tokenVolume {
  width: 190px;
  font-size: 18px;
  font-weight: 500, medium;
}
.tokenTvl {
  font-size: 18px;
  font-weight: 500, medium;
}
.tvl {
  width: 190px;
  margin-left: 25px;
}
.users {
  width: 190px;
  align-items: center;
  margin-left: 25px;
}
.btn-shape {
  margin-left: 95px;
  border: none;
  background-color: inherit;
  transform: rotate(0deg);
}
.btn-shape-active {
  margin-left: 95px;
  border: none;
  background-color: inherit;
  transform: rotate(180deg);
}
.description {
  margin-top: 8px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
}
