.app {
  background-color: #F7F7FB;
  display: flex;
}

.menu {
  padding: 24px;
  width: 320px;
  background: linear-gradient(200deg, #B380FD 12%, #6347F5 78%);
}

.menu-item {
  margin-bottom: 24px;
}

.tokens {
  width: 100%;
  padding: 32px;
}

.token {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 8px;
}
