@import 'https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300&family=Roboto:wght@500&display=swap';

.app {
  height: 100vh;
  background-color: #f7f7fb;
  display: flex;
  font-family: 'Montserrat ', sans-serif;
}

li {
  list-style: none;
}

h3 {
  font-weight: 500;
  margin: 0px;
}
